:root {
  --blue: #09175E;
  --white: #F8F8F8;
  --lightblue: #00FFFB;
  --salmon: #EE4266;
  --black: #000;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: var(--white);
}

.App {
  text-align: center;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  background-color: var(--blue);
  color: var(--white);
  height: 10vh;
}

.nav-link {
  @apply border-b-4 border-blue-700 text-center m-3 p-3
}

.navbar-hero {
}


.navbarLogo {
    height: 3em;
}

.AppContent {
  width: 100%;
}

.bg-logo-blue {
  background-color: var(--blue);
}

.hero {
  @apply shadow-2xl p-5 m-5 container mx-auto md:flex md:justify-around md:items-center sm:inline;
  @apply bg-white;
}

.hero-text {
  @apply text-4xl text-center font-bold p-5 my-5;
  @apply bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500;
}

.hero-info {
  @apply text-4xl text-center font-bold m-10;
}

.hero-button {
  @apply text-3xl bg-green-400 p-5 my-5 w-full rounded text-white;
}

.login-button {
  @apply bg-green-500;
}

.register-button {
  @apply bg-blue-500;
}

.btncontainer {
  @apply flex flex-row;
}

.hero-button {
    @apply px-5 mx-5 flex-1;
}

.color-logo-blue {
  color: var(--blue);
}

.navbarIcon {
  padding: 0.5em;
  margin: 0.5em;
  @apply px-1;
}

.btncontainer-vert {
    @apply flex flex-col;
}

.nav-link {
  @apply text-white text-xl;
}

.action_menu {
  @apply flex flex-col p-5 m-5 text-center;
}

.action_menu > a {
  @apply bg-blue-500 p-3 m-3 flex-1 w-full text-white;
}

form {
  @apply flex flex-col m-4;
}

form > input {
  @apply p-3 m-3 border-b-4 border-blue-700;
}

.std_btn {
  @apply bg-blue-700 text-white p-3 m-3 ;
}

.table, th, td {
  border: 2px black;
  border-style: solid;
}
td {
  width: 100px;
  height: 50px;
}